{{#paper-card}}
    {{#paper-card-content}}
        <h4>{{pilotClass.name}}</h4>
        <p>
            {{#link-to 'contests.scores.pilotscore' pilotClass}}Scores{{/link-to}}
        </p>
    {{/paper-card-content}}
{{/paper-card}}