<h3>{{model.name}}</h3>

{{#paper-button icon-button=true action="editPilotclass"}}{{paper-icon icon="edit"}}{{/paper-button}}
{{#paper-button icon-button=true action="deletePilotclass" param=model}}{{paper-icon icon="delete"}}{{/paper-button}}
