{{#paper-content classNames="md-whiteframe-z1"}}
    <p>
    <h2>Editing {{model.name}}</h2>
    </p>
    {{paper-divider}}
    <p>
        <form>
            <h4>{{errorMessage}}</h4>
    <p>
        {{paper-input label="Name" value=model.name required=true required-errortext="Pilot class name is required."}}
    </p>
    <p>
        {{#paper-button raised=true action="savePilotclass"}}Save{{/paper-button}}
        {{#paper-button raised=true action="cancelPilotclass"}}Cancel{{/paper-button}}
    </p>
    </form>
    </p>
{{/paper-content}}
