{{#paper-content classNames="md-whiteframe-z1"}}
    {{#paper-item}}
        <h2>Edit a User</h2>
    {{/paper-item}}
    {{paper-divider}}
    {{#paper-item}}
        {{partial "users/form"}}
    {{/paper-item}}
{{/paper-content}}
