<h3>{{model.fullName}}</h3>
{{#paper-button icon-button=true action="editUser"}}{{paper-icon icon="edit"}}{{/paper-button}}
{{#paper-button icon-button=true action="deleteUser" param=model}}{{paper-icon icon="delete"}}{{/paper-button}}
