{{#paper-content classNames="md-whiteframe-z1"}}
    {{#paper-item}}
        <h2>Add a New Maneuver</h2>
    {{/paper-item}}
    {{paper-divider}}
    {{#paper-item}}
        {{partial "admin/maneuvers/form"}}
    {{/paper-item}}
{{/paper-content}}
