<h3>{{model.name}}</h3>

{{#paper-button icon-button=true action="editManeuver"}}{{paper-icon icon="edit"}}{{/paper-button}}
{{#paper-button icon-button=true action="deleteManeuver" param=model}}{{paper-icon icon="delete"}}{{/paper-button}}
{{pilot-class-list contest=model}}
