
        <h3>Contests</h3>

        {{#paper-content classNames="md-whiteframe-z1"}}
            {{#paper-list}}
                {{#each model as |contest|}}
                    {{#paper-item class="md-3-line"}}
                        <div class="md-list-item-text">
                            <h3>{{#link-to 'contests.show' contest}}{{contest.name}}{{/link-to}}</h3>
                            <p>Aircraft Type: {{contest.aircraftType.name}}</p>
                        </div>
                    {{/paper-item}}
                {{/each}}
            {{/paper-list}}

            {{#paper-list}}
                {{#paper-button icon-button=true action="transitionTo" param="contests.new"}}{{paper-icon icon="add"}}{{/paper-button}}

            {{/paper-list}}
        {{/paper-content}}


