<h3>{{model.name}}</h3>
{{#paper-button icon-button=true action="editContest"}}{{paper-icon icon="edit"}}{{/paper-button}}
{{#paper-button icon-button=true action="deleteContest" param=model}}{{paper-icon icon="delete"}}{{/paper-button}}
{{pilot-class-list contest=model}}
