{{#paper-toolbar}}
    <div class="md-toolbar-tools">
        {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
            {{paper-icon icon="menu"}}
        {{/paper-sidenav-toggle}}

    </div>
{{/paper-toolbar}}

{{#paper-content classNames="md-padding"}}
    <div class="doc-content">


        {{#each model as |currentcontest|}}
            <h3>{{currentcontest.name}}</h3>
            <p>Aircraft Type: {{currentcontest.aircraftType.name}}</p>

            {{pilot-class-list pilotClasses=currentcontest.pilotClasses}}

        {{/each}}


    </div>

{{/paper-content}}


