{{#paper-toolbar}}
    <div class="md-toolbar-tools">
        {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
            {{paper-icon icon="menu"}}
        {{/paper-sidenav-toggle}}

    </div>
{{/paper-toolbar}}

{{#paper-content classNames="md-padding"}}
    <div class="doc-content">

        {{outlet}}

    </div>

{{/paper-content}}


